<section class="section-centred">
  <div class="wrapper wrapper-nav-padded">
    <div class="section-heading italic-heading">
      <span class="heading-smaller">{{ page.content }}</span>
    </div>
  </div>
</section>

<section class="section-grey">
  <div class="wrapper wrapper-centred wrapper-caps-heading">
    <h4 class="caps-heading">Findings</h4>
  </div>
  <div class="wrapper wrapper-centred wrapper-stacked-top">
    <div class="flex-wrapper">
      {% assign blog = blogs.Findings %}
      {% paginate blog.articles by 2 %}
      {% for article in blog.articles %}
      <div class="flex-section flex-section-half">
        <h4>
          <a href="{{ article.url }}">{{ article.title }}</a>
        </h4>

        {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}

        <p>
          {{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}
        </p>

        {% if article.image %}
        <a href="{{ article.url }}">
          {{ article | img_url: '1024x1024' | img_tag: article.title }}
        </a>
        {% endif %}

        <div class="body-copy">
          {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
          {% else %}
          <p>
            {{ article.content | strip_html | truncatewords: 50 }}
          </p>
          {% endif %}
        </div>

        <p>
          <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a>
        </p>
      </div>
      {% endfor %}
      {% endpaginate %}
    </div>
  </div>
</section>


{% assign press = blogs.Press.articles.first %}
{% if press %}
{% assign title = press.title | split: '|' %}
{% assign publication = title | first %}
{% assign heading = title | last %}
<section class="section-centred">
  <div class="wrapper wrapper-caps-heading">
    <h4 class="caps-heading">Press</h4>
  </div>
  <div class="wrapper wrapper-stacked-top">
    <div class="flex-wrapper flex-wrapper-inline-tablet">
      {% if press.image %}
      <div class="flex-section sticky-wrapper">
        <div class="sticky-content hide-on-mobile">
          {{ press | img_url: '1024x1024' | img_tag: article.title }}
        </div>
        <div class="show-on-mobile" style="margin-bottom: 15px;">
          {{ press | img_url: '1024x1024' | img_tag: article.title }}
        </div>
      </div>
      {% endif %}
      <div class="flex-section">
        <div class="body-copy">
          <h4 class="caps-heading" style="margin: 0px;">{{ publication }}</h4>
          <h1 class="italic-heading color-inherit">{{ heading }}</h1>
          {{ press.content }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}


<section class="section-grey">
  <div class="wrapper wrapper-caps-heading">
    <h4 class="caps-heading">Testimonials</h4>
  </div>
  <div class="wrapper wrapper-stacked-top">
    <div class="testimonial-carousel">
      {% if settings.testimonial_1.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_1 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_1_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_2.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_2 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_2_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_3.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_3 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_3_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_4.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_4 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_4_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_5.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_5 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_5_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_6.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_6 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_6_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_7.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_7 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_7_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_8.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_8 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_8_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_9.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_9 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_9_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_10.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_10 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_10_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_11.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_11 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_11_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_12.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_12 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_12_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_13.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_13 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_13_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_14.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_14 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_14_author }}</span>
      </div>
      {% endif %}
      {% if settings.testimonial_15.size > 0 %}
      <div class="testimonial">
        <p class="italic">{{ settings.testimonial_15 }}</p>
        <span class="product-shipping uppercase">{{ settings.testimonial_15_author }}</span>
      </div>
      {% endif %}
    </div>
  </div>
</section>

<script>
  $('.testimonial-carousel').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 749,
        settings: {
          slidesToShow: 1
        }
      }
    ]
  });

  $('.testimonial-carousel').on('setPosition', function () {
    $(this).find('.slick-slide').height('auto');
    var slickTrack = $(this).find('.slick-track');
    var slickTrackHeight = $(slickTrack).height();
    $(this).find('.slick-slide').css('height', slickTrackHeight + 'px');
  });
</script>